{% extends 'users/stuinfo.html' %}
{% block content %}
    <div class="container" style="display:inline-block;">
        <a href=" {% url 'tasks:report_download' task.id student.id%}">下载该同学报告</a>
            <ul>
            {% for pair in similar_pairs %}
                <li><p>原文语句：{{pair.origin_sentence}}</p>
                <p>相似语句：{{pair.similar_sentence}}</p></li>
                {% empty %}
                <p>未发现相似语句</p>
            {% endfor %}
            </ul>
    </div>
{% endblock content %}