{%extends 'users/stuinfo.html'%}
{%block content%}
<a href="{% url 'tasks:task_detail' task.id%}">返回任务详情</a>
    <a href="{% url 'tasks:report_zip_download' task.id %}"></a>
    <table class="table table-hover">
    <thead>
        <tr>
            <td>学号</td><td>姓名</td><td>报告</td>
        </tr>
    </thead>
    <tbody>
        {%for report in reports%}
            <tr>
                <td>{{report.user.username}}</td>
                <td>{{report.user.userprofile.name}}</td>
                <td><a href="{% url 'tasks:report_download' report.task.id report.user.id %}" target="_blank">下载报告</a>
		<a href="{% url 'tasks:report_detail' report.task.id report.user.id%}"target="_blank">查看查重结果</a></td>
            </tr>
        {%endfor%}
    </tbody>
    </table>

{%endblock content%}
