{% load bootstrap3 %}
    <head>
        <!DOCTYPE html>
        <html lang="en">
            <head>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content=""IE="edge">
                <meta name="viewpor" content="width=device-width,initial-scale=1">

                <title>kaggle</title>
                {% bootstrap_css %}
                {% bootstrap_javascript %}
            </head>
            <body>
                <nav class="navbar navbar-default navbar-static-top">
                    <div class="container">

                    <div class="navbar-collapse collapse">
                        <h4><a href="{% url 'tasks:index' %}">Home Page</a></h4>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a>Hello,{{user.userprofile.name}}</a></li>
                            <li><a href="{% url 'users:logout' %}">log out</a> </li>
                        {% else %}
                            <li><a href="{% url 'users:register' %}">register</a> </li>
                            <li><a href="{% url 'users:login' %}">log in</a> </li>
a
                        {% endif %}
                    </ul>
                </div>
                </div>
                 </nav>

                <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                    <div class="container">
                    <h3>{{task.task_name}}</h3>
                    {% block navigation %}{% endblock navigation %}
                    </div>
                </nav>
            <div class="container">
                <div>
                    {% block content %}{% endblock content %}
                </div>
            </div>
    </body>
    </html>