{%extends "users/stuinfo.html"%}
{% load bootstrap3 %}
{%block content%}
    <p>Tasks</p>
    <form action="{% url 'tasks:task_list' %}" method="post">
    <select name="display_task">
        <option value="Nothing">Show nothing on home page</option>
        {% for task in tasks %}
        <option value={{task.id}}>{{task.task_name}}</option>
        {% endfor %}
    </select>
        {% buttons %}
        <button name="submit" class="btn btn-primary">set display</button>
    {% endbuttons %}
    </form>

    <ul>
        {%for task in tasks%}
        <li><a href="{%url 'tasks:task_detail' task.id%}" target="_blank">{{task.task_name}}</a></li>
        {%empty%}
        <li>No tasks have been added</li>
        {%endfor%}
    </ul>
    {% if user.is_staff %}
        <a href="{% url 'tasks:new_task' %}">add a new task</a>
    <p>Email</p>
    <a href="{% url 'tasks:new_email' %}" target="_blank">write a new email</a>
    {% endif %}
{%endblock content%}
